/**
 * 16.0 Unyson Page Builder
 */

/**
 * 16.1 Unyson Layout Elements
 */

/* unyson */

/* For preview */
.energy--preview-layout .fw-row > div {
    text-align: center !important;
}
.energy--preview-layout .fw-row > div p {
    border: solid 1px #e3e3e3 !important;
    line-height: 50px !important;
    margin-bottom: 30px !important;
}

/* unyson layout */

.page .unyson-layout-sleft .site-content > .container .unyson_content > .container,
.page .unyson-layout-sright .site-content > .container .unyson_content > .container {
    padding-left: 0;
    padding-right: 0;
}

.page .unyson-layout-snone .site-content > .container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.page .unyson-layout-snone .site-content > .container .unyson_content {
    padding-left: 0;
    padding-right: 0;
}

.page .unyson-layout-snone .site-content > .container .unyson_fullwidth {
    padding-left: 0;
    padding-right: 0;
}

.page .unyson-layout-snone .site-content > .container .unyson_fullwidth > .container:not(.has-container) {
    width: 100%;
}

.page .unyson-layout-snone .site-content > .container .unyson_fullwidth.fw-container-fluid-no > .container {
    padding-left: 0;
    padding-right: 0;
}

.page .unyson-layout-snone .site-content > .container .unyson_fullwidth.fw-container-fluid-no > .container.has-container {
    padding-left: 15px;
    padding-right: 15px;
}

.fw-container-add-padding .unyson_content {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.fw-container-after-slider {
    margin-top: 15px;
}

@media screen and (min-width: 768px) {
    .fw-container-after-slider {
        margin-top: -54px;
    }
}

@media screen and (min-width: 1024px) {
    .fw-container-after-slider {
        margin-top: -81px;
    }
}

@media screen and (min-width: 1200px) {
    .fw-container-after-slider {
        margin-top: -115px;
    }
}

@media screen and (min-width: 1440px) {
    .fw-container-after-slider {
        margin-top: -115px;
    }
}

@media (min-width: 600px) and (max-width: 991px)  {
    .fw-container-after-slider > .fw-container > .container > .fw-row > .fw-col-sm-3 {
        width: 50%;
        float: left;
    }
}

.fw-container-after-slider .fw-iconbox-aside {
    overflow: hidden;
    height: 108px;
}

.fw-container-after-slider .fw-iconbox-1 .fw-iconbox-title h3 {
    overflow: hidden;
    height: 27px;
}

.fw-container-after-slider .fw-iconbox .fw-iconbox-text {
    overflow: hidden;
    height: 81px;
}

/* / unyson layout */

.page .unyson-layout-snone .site-content .entry-content__inner {
    margin-bottom: 0;
}

.is_unyson_page_builder {
    max-width: 100%;
}

.post-container.sleft .unyson_content,
.post-container.sright .unyson_content {
    padding-left: 0;
    padding-right: 0;
}

.unyson_fullwidth.fw-container-no .container {
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.fw-page-builder-content .container {
    max-width: 100%;
}

@media (min-width: 768px) {
    .post-container.snone .unyson_content {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .post-container.snone .unyson_content {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .post-container.snone .unyson_content {
        width: 1170px;
    }
}

@media (min-width: 1440px) {
    .post-container.snone .unyson_content {
        width: 1200px;
    }
}

.section-bg-image-cover {
    background-position: center center !important;
    background-size: cover !important;
}

.section-bg-image-cover-totop {
    background-position: top center !important;
    background-size: cover !important;
}

.section-bg-image-parallax {
    background-attachment: fixed !important;
    background-position: center center !important;
    background-size: cover !important;
}

@media (max-width: 767px) {
    .section-bg-image-parallax {
        background-attachment: scroll !important;
    }
}


.section-dark-bg a:not(.fw-btn) {
    color: #ffffff;
}
.section-dark-bg a:not(.fw-btn):hover {
    color: #fcca03;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.section-dark-bg strong,
.section-dark-bg {
    color: #ffffff;
}

/* Section bg image overlay */

.fw-main-row {
    position: relative;
}

.bg-image-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

/* Section Drop Shadow */

.energy_drop_shadow > div {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.energy_drop_shadow > div > .container {
    /* energy drop shadow */
    -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.05);
}

/**
 * 16.2 Unyson Content Elements
 */

/*  - Accordion
    - Button
    - Calendar
    - Call To Action
    - Contact Form
    - Divider
    - Icon
    - Icon Box
    - Map
    - Notification
    - Special Heading
    - Table
    - Tabs
    - Team Member
    - Testimonials
    - Text Block
    - Image
    - Widget Area   */

/**
 * Accordion
 */

.fw-accordion-main-title h3 + .clear {
    overflow: hidden;
}

.fw-accordion {
    border: none;
    margin-top: -20px;
}

.fw-accordion .fw-accordion-title {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 20px;
    padding: 10px 50px 10px 65px;
    border: none;
    background-color: #ffffff;
    color: #333333;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* energy drop shadow */
    -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
}

.fw-accordion .fw-accordion-title:before {
    content: '\f0e0';
    font-family: 'FontAwesome';
    font-weight: 400;
    position: absolute;
    top: 9px;
    left: 30px;
    min-width: 16px;
    text-align: center;
    color: #fcca03;
}

.fw-accordion .fw-accordion-title.ui-state-active {
    background-color: #fcca03;
    color: #ffffff;

    /* energy drop shadow */
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fw-accordion .fw-accordion-title.ui-state-active:before {
    color: #303030;
}

.fw-accordion .fw-accordion-title,
.fw-accordion .fw-accordion-title.ui-state-active {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.fw-accordion .fw-accordion-content {
    padding-top: 25px;
    padding-bottom: 22px;

    /*border: solid 2px #dfdfdf;*/
    margin-top: -1px;
    -webkit-box-shadow: inset 0 0 0 1px #e6e4e4;
    box-shadow: inset 0 0 0 1px #e6e4e4;
    background-color: #ffffff;
}

.fw-accordion .fw-accordion-content > p {
    padding: 0 30px 0 30px;
}

.fw-accordion .fw-accordion-content .widget {
    padding: 0 30px 0 30px;
}

.fw-accordion .fw-accordion-title .ui-icon,
.fw-accordion .fw-accordion-title.ui-state-active .ui-icon {
    background: none;
    position: absolute;
    top: 9px;
    right: 9px;
    left: auto;
    width: 28px;
    height: 28px;
    text-align: center;
    color: #8c8c8c;
}

.fw-accordion .fw-accordion-title.ui-state-active .ui-icon {
    color: #ffffff;
}

.fw-accordion .fw-accordion-title .ui-icon:before,
.fw-accordion .fw-accordion-title.ui-state-active .ui-icon:before {
    content: '';
    font-family: 'FontAwesome';
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 2;
    width: 24px;
    height: 24px;
}

.fw-accordion .fw-accordion-title .ui-icon::before,
.fw-accordion .fw-accordion-title.ui-state-active .ui-icon:before {
    font-family: Flaticon;
    content: '\f150'
}

.fw-accordion .fw-accordion-title.ui-state-active .ui-icon:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.fw-accordion .fw-accordion-title::before,
.fw-accordion .fw-accordion-title.ui-state-active::before,
.fw-accordion .fw-accordion-title .ui-icon::before,
.fw-accordion .fw-accordion-title.ui-state-active .ui-icon::before {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.fw-accordion .fw-accordion-title .ui-icon::before {
    display: inline-block;
    margin-top: -1px;
    margin-right: -3px;
}

.fw-accordion .fw-accordion-title.ui-state-active .ui-icon::before {
    display: inline-block;
    margin-top: -1px;
}

.fw-accordion-button .fw-btn {
    margin-top: 22px;
}

/* Accordion -- Type 2 */

/**
 * Button
 */

.fw-btn {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    height: 45px;
    border-radius: 0;
    padding: 11px 30px 10px 30px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 0;
    background-image: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    -webkit-appearance: initial;
}

.fw-btn span {
    display: block;
}

.fw-btn:hover,
.fw-btn:focus,
.fw-btn:active {
    box-shadow: none;
    text-decoration: none;
    outline: none;
    opacity: 1;
}

.fw-btn i {
    margin: 0;
}

/* Button -- Style 1 */

.fw-btn-1 {
    background-color: #fcca03;
    color: #ffffff;
}

.fw-btn-1.fw-btn-black {}
.fw-btn-1.fw-btn-blue {}
.fw-btn-1.fw-btn-green {}
.fw-btn-1.fw-btn-red {
    background-color: #e04f4f;
}

.fw-btn-1:hover,
.fw-btn-1:focus {
    background-color: #333333;
    color: #fcca03;
}

/**
 * Calendar
 */


/**
 * Call To Action
 */

.fw-call-to-action {
    width: 100%;
    padding: 15px 15px;
    border-radius: 0;
    border: none;
    background-color: #ffffff;
}

.fw-call-to-action .fw-action-inner {
    padding: 35px 15px;
    border: solid 4px #fcca03;
}

.fw-call-to-action .fw-action-content {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.0910;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
    color: #303030;
}

.fw-call-to-action .fw-action-content h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.3334;
    color: #a4a4a4;
}

.fw-call-to-action .fw-action-content h2 {
    margin-bottom: 0;
}

.fw-call-to-action .fw-action-content p {
    margin-bottom: 0;
}

.fw-call-to-action .fw-action-btn {
    width: auto;
    padding: 0 15px;
    margin-bottom: -40px;
    text-align: center;
}

.fw-call-to-action .fw-action-btn .fw-btn {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-size: 1.3rem;
    height: 39px;
    line-height: 3;
    padding: 0 15px;
    border: none;
    background-color: #fcca03;
    color: #ffffff;
}

.fw-call-to-action .fw-action-btn .fw-btn:hover,
.fw-call-to-action .fw-action-btn .fw-btn:focus {
    opacity: 1;
    background-color: #333333;
    color: #ffffff;
}

.fw-call-to-action .fw-action-btn .fw-btn::before,
.fw-call-to-action .fw-action-btn .fw-btn::after {
    content: '';
    display: block;
    width: 10px;
    height: 39px;
    position: absolute;
    top: 0;
    background-color: #ffffff;
}

.fw-call-to-action .fw-action-btn .fw-btn::before {left: -10px;}
.fw-call-to-action .fw-action-btn .fw-btn::after {right: -10px;}

.fw-call-to-action > div *:last-child {
}

@media (min-width: 480px) {

    .fw-call-to-action {
        padding: 40px 40px;
    }

    .fw-call-to-action::before {
        top: 20px;
    }

    .fw-call-to-action .fw-action-inner {
        padding: 35px 25px;
    }

    .fw-call-to-action .fw-action-content {
        font-size: 42px;
        font-size: 4.2rem;
        line-height: 1.0910;
    }

    .fw-call-to-action .fw-action-content h2 {
        font-size: 22px;
        font-size: 2.2rem;
        line-height: 1.0910;
    }

    .fw-call-to-action .fw-action-btn {
        margin-bottom: -55px;
    }

    .fw-call-to-action .fw-action-btn .fw-btn {
        padding: 0 30px;
    }

}

@media (max-width: 479px) {

    .fw-call-to-action .fw-action-btn .fw-btn > span {
        line-height: 1.1;
        white-space: normal;
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
    }

}

/**
 * Contact Form
 */

/* checkbox / radio */

/* input / select / textarea */

/* placeholders */

/**
 * Icon
 */

.fw-icon i {
    color: #fcca03;
}

.fw-icon i,
.icon-box i {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.0910;
}

.fw-icon .list-title,
.icon-box .list-title {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.7143;
}

/**
 * Icon Box / Services
 */

.iconboxes-row {
    margin-top: -30px;
}

.iconboxes-row > div {
    margin-top: 30px;
}

.fw-iconbox {
    padding: 0;
}

.fw-iconbox .fw-iconbox-text {
    padding: 0;
    color: #8c8c8c;
}

.fw-iconbox .fw-iconbox-text a {
    color: #8c8c8c;
}

.fw-iconbox .fw-iconbox-text a:hover,
.fw-iconbox .fw-iconbox-text a:focus {
    color: #fcca03;
}

.fw-iconbox-1 {
    text-align: left;
}

.fw-iconbox-1 .fw-iconbox-image {
    font-size: 40px;
    font-size: 4rem;
    line-height: 48px;
    line-height: 1.2;
    width: 48px;
    margin-left: 0;
    margin-right: auto;
    border-radius: 0;
    color: #fcca03;
}

.fw-iconbox-1 .fw-iconbox-image.has-image {
    font-size: 0;
    width: auto;
}

.fw-iconbox-1 .fw-iconbox-image img {
    border-radius: 0;
    width: auto;
    max-height: 72px;
}

.fw-iconbox-1 .fw-iconbox-image + .fw-iconbox-aside {
    margin-top: 6px;
}

.fw-iconbox-1 .fw-iconbox-image.has-image + .fw-iconbox-aside {
    margin-top: 24px;
}

.fw-iconbox-1 .fw-iconbox-title h3 {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3334;
    margin-top: 0;
    margin-bottom: 0;
}

.fw-iconbox-1 .fw-iconbox-title + .fw-iconbox-text {
}

.section-dark-bg .fw-iconbox-1 .fw-iconbox-image,
.section-dark-bg .fw-iconbox-1 .fw-iconbox-title h3,
.section-dark-bg .fw-iconbox-1 .fw-iconbox-text {
    color: #ffffff;
}

/* Icon Box / ib-type2 */

.fw-iconbox-1.ib-type2 {
    background-color: rgba(255, 255, 255, 0.7);
}

.fw-iconbox-1.ib-type2:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.fw-iconbox-1.ib-type2,
.fw-iconbox-1.ib-type2:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.fw-iconbox-1.ib-type2 .fw-iconbox-image {
    font-size: 40px;
    font-size: 4rem;
    line-height: 1.2;
}

.fw-iconbox-1.ib-type2 {
    position: relative;
    padding: 34px 30px 31px 30px;
}

.fw-iconbox-1.ib-type2::before {
    content: '';
    display: block;
    height: 32px;
    width: 30px;
    position: absolute;
    top: 9px;
    left: 10px;
    border: solid 2px #333333;
    border-width: 2px 0 0 2px;
    opacity: 0;
}

.fw-iconbox-1.ib-type2::after {
    content: '';
    display: block;
    height: 32px;
    width: 30px;
    position: absolute;
    right: 10px;
    bottom: 9px;
    border: solid 2px #333333;
    border-width: 0 2px 2px 0;
    opacity: 0;
}

.fw-iconbox-1.ib-type2:hover::before,
.fw-iconbox-1.ib-type2:hover::after {
    opacity: 1;
}

.fw-iconbox-1.ib-type2::before,
.fw-iconbox-1.ib-type2::after,
.fw-iconbox-1.ib-type2:hover::before,
.fw-iconbox-1.ib-type2:hover::after {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.fw-iconbox-1.ib-type2 .fw-iconbox-title h3 {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.7143;
}

.section-dark-bg .fw-iconbox-1.ib-type2 .fw-iconbox-image,
.section-dark-bg .fw-iconbox-1.ib-type2 .fw-iconbox-title h3,
.section-dark-bg .fw-iconbox-1.ib-type2 .fw-iconbox-text {
    color: #333333;
}

.section-dark-bg .fw-iconbox-1.ib-type2 .fw-iconbox-title h3 a {
    color: #333333;
}

.section-dark-bg .fw-iconbox-1.ib-type2 .fw-iconbox-title h3 a:hover,
.section-dark-bg .fw-iconbox-1.ib-type2 .fw-iconbox-title h3 a:focus {
    color: #fcca03;
}

/* Icon Box -- Icon Left / .fw-iconbox-2 */

.fw-iconbox-2 .fw-iconbox-aside {
    overflow: hidden;
    margin-left: 45px;
}

.fw-iconbox-2.fw-iconbox .fw-iconbox-title h3 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 0;
}

.fw-iconbox-2 .fw-iconbox-image {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.0910;
    border-radius: 0;
    color: #333333;
}

.fw-iconbox-2 .fw-iconbox-text {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.7143;
}

.fw-iconbox-2.ib-type2 {}

.fw-iconbox-2.ib-type2 .fw-iconbox-image {
    font-size: 36px;
    font-size: 3.6rem;
    width: 70px;
    height: 70px;
    line-height: 1.9445;
    text-align: center;
    background-color: #f5f5f5;
}

.fw-iconbox-2.ib-type2:hover .fw-iconbox-image {
    background-color: #ffffff;
    color: #fcca03;
    /* energy drop shadow */
    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}

.fw-iconbox-2.ib-type2 .fw-iconbox-image,
.fw-iconbox-2.ib-type2:hover .fw-iconbox-image {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.fw-iconbox-2.ib-type2 .fw-iconbox-aside {
    margin-left: 100px;
}

/**
 * Map
 */

.single-fw-event .post-content .fw-map {
    margin-bottom: 24px;
}

/**
 * Divider
 */

/* Predefined */

.fw-divider-space.space--05x {margin-top: -12px;}
.fw-divider-space.space-05x {margin-top: 12px;}
.fw-divider-space.space-10x {margin-top: 24px;}
.fw-divider-space.space-15x {margin-top: 24px;}
.fw-divider-space.space-20x {margin-top: 24px;}
.fw-divider-space.space-25x {margin-top: 24px;}
.fw-divider-space.space-30x {margin-top: 36px;}
.fw-divider-space.space-35x {margin-top: 36px;}
.fw-divider-space.space-40x {margin-top: 48px;}
.fw-divider-space.space-45x {margin-top: 48px;}
.fw-divider-space.space-50x {margin-top: 60px;}

@media (min-width: 768px) {

    .fw-divider-space.space--05x {margin-top: -12px;}
    .fw-divider-space.space-05x {margin-top: 12px;}
    .fw-divider-space.space-10x {margin-top: 24px;}
    .fw-divider-space.space-15x {margin-top: 24px;}
    .fw-divider-space.space-20x {margin-top: 36px;}
    .fw-divider-space.space-25x {margin-top: 36px;}
    .fw-divider-space.space-30x {margin-top: 48px;}
    .fw-divider-space.space-35x {margin-top: 48px;}
    .fw-divider-space.space-40x {margin-top: 60px;}
    .fw-divider-space.space-45x {margin-top: 60px;}
    .fw-divider-space.space-50x {margin-top: 72px;}

}

@media (min-width: 768px) {

    .fw-divider-space.space--05x {margin-top: -12px;}
    .fw-divider-space.space-05x {margin-top: 12px;}
    .fw-divider-space.space-10x {margin-top: 24px;}
    .fw-divider-space.space-15x {margin-top: 24px;}
    .fw-divider-space.space-20x {margin-top: 36px;}
    .fw-divider-space.space-25x {margin-top: 36px;}
    .fw-divider-space.space-30x {margin-top: 48px;}
    .fw-divider-space.space-35x {margin-top: 48px;}
    .fw-divider-space.space-40x {margin-top: 60px;}
    .fw-divider-space.space-45x {margin-top: 72px;}
    .fw-divider-space.space-50x {margin-top: 84px;}

}

@media (min-width: 1024px) {

    .fw-divider-space.space--05x {margin-top: -12px;}
    .fw-divider-space.space-05x {margin-top: 12px;}
    .fw-divider-space.space-10x {margin-top: 24px;}
    .fw-divider-space.space-15x {margin-top: 36px;}
    .fw-divider-space.space-20x {margin-top: 48px;}
    .fw-divider-space.space-25x {margin-top: 60px;}
    .fw-divider-space.space-30x {margin-top: 72px;}
    .fw-divider-space.space-35x {margin-top: 84px;}
    .fw-divider-space.space-40x {margin-top: 96px;}
    .fw-divider-space.space-45x {margin-top: 108px;}
    .fw-divider-space.space-50x {margin-top: 108px;}

}

@media (min-width: 1200px) {

    .fw-divider-space.space--05x {margin-top: -12px;}
    .fw-divider-space.space-05x {margin-top: 12px;}
    .fw-divider-space.space-10x {margin-top: 24px;}
    .fw-divider-space.space-15x {margin-top: 36px;}
    .fw-divider-space.space-20x {margin-top: 48px;}
    .fw-divider-space.space-25x {margin-top: 60px;}
    .fw-divider-space.space-30x {margin-top: 72px;}
    .fw-divider-space.space-35x {margin-top: 84px;}
    .fw-divider-space.space-40x {margin-top: 96px;}
    .fw-divider-space.space-45x {margin-top: 108px;}
    .fw-divider-space.space-50x {margin-top: 120px;}

}

/**
 * Notification
 */

.fw-alert {
    border: none;
    border-radius: 0;
    padding: 18px 30px;
    margin-bottom: 24px;
}

/**
 * Special Heading
 */

.fw-heading {
    margin-bottom: 24px;
}

.fw-heading.fw-heading-w-subtitle {
    margin-bottom: 24px;
}

.fw-heading.fw-heading-w-subtitle .fw-special-title {
    margin-bottom: 0;
}

.fw-special-subtitle {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.0001;
    color: #a4a4a4;
}

.fw-heading a,
.fw-special-subtitle a {
    color: inherit;
    text-decoration: underline;
}
.fw-iconbox-aside .fw-iconbox-text a,
.fw-row > div p a {
    text-decoration: underline;
}

.fw-heading h1,
.fw-heading h2,
.fw-heading h3,
.fw-heading h4,
.fw-heading h5,
.fw-heading h6 {
    font-weight: 700;
    margin-bottom: 0;
}

.fw-special-subtitle + .fw-special-title {
    margin-top: 5px;
}

/* Special Heading -- Alternate */

.fw-heading.fw-heading-alternate {
    position: relative;
    padding-bottom: 12px;
}

.fw-heading.fw-heading-alternate h3 span{
    position: relative;
}

@media (min-width: 1200px) {

    .fw-heading.fw-heading-alternate h3 span::before {
        content: '';
        display: block;
        height: 32px;
        width: 30px;
        position: absolute;
        top: -14px;
        left: -60px;
        border: solid 2px #fcca03;
        border-width: 2px 0 0 2px;
    }

    .fw-heading.fw-heading-alternate h3 span::after {
        content: '';
        display: block;
        height: 32px;
        width: 30px;
        position: absolute;
        right: -60px;
        bottom: -32px;
        border: solid 2px #fcca03;
        border-width: 0 2px 2px 0;
    }

}

.fw-subtitle-above h3 span::before {
    top: -44px !important;
}

.fw-subtitle-above h3 span::after {
    bottom: -14px !important;
}

.fw-heading.fw-heading-alternate h3 span span::before {
    display: none;
}

.section-dark-bg .fw-special-title {
    color: #ffffff;
}

.section-dark-bg .fw-heading.fw-heading-alternate h3 span::before {
}

.section-dark-bg .fw-special-subtitle {
    color: #ffffff;
}

/**
 * Table
 */

/* Table -- Pricing */

.fw-table table {
    margin-bottom: 0;
}

.fw-package {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.7143;
    border-radius: 0;
    border: solid 2px #f5f5f5;
    border: none;

    border-bottom: solid 4px #fcca03;
    background-color: #fff;

    /* energy drop shadow */
    -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
}

.fw-package > div:first-child {
    border-radius: 0;
}

.fw-pricing {
    margin-left: -15px;
    margin-right: -15px;
}

.fw-package .fw-heading-row {
    background-color: #303030;
    color: #ffffff;
}

.fw-package .fw-pricing-row {
    background-color: #f5f5f5;
    color: #303030;
}

.fw-package .fw-heading-row span {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.8572;
    height: 40px;
    padding: 0;
    overflow: hidden;
    border: none;
}

.fw-package .fw-pricing-row {
    min-height: 96px;
}

.fw-package .fw-pricing-row span {
    font-size: 42px;
    font-size: 4.2rem;
    font-weight: 300;
    line-height: 1.1429;
    padding: 24px 0;
}

.fw-package .fw-pricing-row small {
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.7143;
    padding: 24px 0;
    margin-top: -48px;
    color: #a4a4a4;
}

.fw-pricing .fw-package-wrap.highlight-col .fw-pricing-row small {
    color: #ffffff;
}

.fw-pricing .fw-package-wrap.highlight-col .fw-heading-row,
.fw-pricing .fw-package-wrap.highlight-col .fw-pricing-row {
    background: #fcca03;
}

.fw-pricing .fw-package-wrap.highlight-col .fw-pricing-row {
    color: #ffffff;
}

.fw-pricing .fw-price-icon-no:before {
    color: #fcca03;
}

.fw-pricing .fw-price-icon-yes:before {
    color: #303030;
}

.fw-pricing .fw-package-wrap .fw-default-row,
.fw-pricing .fw-package-wrap.highlight-col .fw-default-row {
    padding: 12px 0;
    margin: 0 15px;
}

@media (min-width: 1200px) {
    .fw-pricing .fw-package-wrap .fw-default-row,
    .fw-pricing .fw-package-wrap.highlight-col .fw-default-row {
        margin: 0 30px;
    }
}

.fw-pricing .fw-package-wrap .fw-default-row + .fw-default-row,
.fw-pricing .fw-package-wrap.highlight-col .fw-default-row + .fw-default-row {
    border-top: solid 1px #f5f5f5;
}

.fw-pricing .fw-package-wrap .fw-default-row .fa,
.fw-pricing .fw-package-wrap .fw-default-row .rt-icon {
    margin-right: 10px;
    color: #fcca03;
}

.fw-pricing .fw-package-wrap .fw-default-row .fa-minus {
    color: #e04f4f;
}

.fw-package .fw-button-row {
    padding: 20px 0 20px 0;
    margin: 0 20px;
}

@media (min-width: 1200px) {
    .fw-package .fw-button-row {
        padding: 20px 0 40px 0;
        margin: 0 30px;
    }
}

.fw-package .fw-button-row .fw-btn-1 {
    padding: 11px 28px 10px 28px;
    background-color: transparent;
    border: solid 2px #fcca03;
    color: #fcca03;
}

.fw-package .fw-button-row .fw-btn-1.fw-btn-black {
    border-color: #000000;
    color: #000000;
}

.fw-package .fw-button-row .fw-btn-1.fw-btn-blue {
    border-color: #3c9beb;
    color: #3c9beb;
}

.fw-package .fw-button-row .fw-btn-1.fw-btn-green {
    border-color: #44ac48;
    color: #44ac48;
}

.fw-package .fw-button-row .fw-btn-1.fw-btn-red {
    border-color: #e04f4f;
    color: #e04f4f;
}

.fw-package .fw-button-row .fw-btn-1:hover,
.fw-package .fw-button-row .fw-btn-1:focus {
    background-color: #333333;
    border: solid 2px #333333;
    color: #ffffff;
}

.fw-pricing {
    /*margin-top: -24px;*/
}

.fw-pricing .fw-package-wrap {
    /*margin-top: 24px;*/
    padding: 15px;
}
.fw-pricing .fw-package-wrap:hover {
    background-color: #f5f5f5;
}

.fw-pricing .fw-package-wrap.fw-col-sm-12 {}
.fw-pricing .fw-package-wrap.fw-col-sm-6 {}
.fw-pricing .fw-package-wrap.fw-col-sm-4 {}
.fw-pricing .fw-package-wrap.fw-col-sm-3 {}

@media (min-width: 768px) and (max-width: 991px) {
    .fw-pricing .fw-package-wrap.fw-col-sm-3 {
        width: 50%;
    }
}

/**
 * Tabs
 */

.fw-tabs-container .fw-tabs ul li a {
    font-weight: 700;
}

.fw-tabs-container .fw-tab-content {
    background-color: #ffffff;
}

/**
 * Team Member
 */

.fw-team .fw-team-image img {}

.fw-team .fw-team-inner {
    text-align: left;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 23px;
    padding-bottom: 23px;
    border-bottom: solid 4px #fcca03;
    background-color: #ffffff;

    /* energy drop shadow */
    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}

.fw-team .fw-team-inner *:last-child {
    margin-bottom: 0;
}

.fw-team .fw-team-name {
    margin-bottom: 7px;
}

.fw-team .fw-team-name h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3334;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    color: #333333;
}

.fw-team .fw-team-name span {
    color: #a4a4a4;
}

/**
 * Testimonials
 */

.fw-testimonials {
    margin: 0;
}

.fw-testimonials .fw-testimonials-item {
    border-bottom: solid 3px #fcca03;
}

.fw-testimonials .fw-testimonials-text {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
    line-height: 1.7143;
    text-align: center;
    background-color: #ffffff;
    color: #a4a4a4;
}

.fw-testimonials-2 {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.fw-testimonials-2 .fw-testimonials-title {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3334;
    text-align: center;
    padding-bottom: 18px;
    margin-bottom: 24px;
    position: relative;
}

.fw-testimonials-2 .fw-testimonials-title:before {
    content: '';
    display: block;
    height: 2px;
    width: 70px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -35px;
    background-color: #fcca03;
}

.fw-testimonials-2 .fw-testimonials-text {
    padding: 30px 30px 15px 30px;
    margin: 0;
    border: none;
    border-radius: 0;
}

.fw-testimonials-2 .fw-testimonials-text:before,
.fw-testimonials-2 .fw-testimonials-text:after {
    display: none;
}

.fw-testimonials-2 .fw-testimonials-meta {
    padding: 35px 30px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: block;
}

.fw-testimonials-2 .fw-testimonials-text + .fw-testimonials-meta {
    padding: 15px 30px 30px 30px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
}

.fw-testimonials-2 .fw-testimonials-text + .fw-testimonials-meta::before {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    margin-left: -30px;
    top: 0;
    left: 50%;
    position: absolute;
    background-color: #fcca03;
}

.fw-testimonials-2 .fw-testimonials-meta > div {
    display: block;
    text-align: center;
}

.fw-testimonials-2 .fw-testimonials-avatar {
    margin: 0 -30px;
    z-index: 2;
    background-color: #ffffff;
}

.fw-testimonials-2 .fw-testimonials-avatar img {
    width: auto;
    height: 70px;
    max-height: 70px;
    padding: 0;
    margin-top: -35px;
    border-radius: 50%;
    border: solid 2px #fcca03;
}

.fw-testimonials-2 .fw-testimonials-signature {
    margin-top: 1px;
}

.fw-testimonials-2 .fw-testimonials-signature img {
    width: auto;
    max-height: 37px;
}

.fw-testimonials-2 .fw-testimonials-author {
    display: block;
    padding: 0;
    margin-top: 14px;
    color: #a4a4a4;
}

.fw-testimonials-2 .fw-testimonials-author .author-name {
    display: inline-block;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    color: #333333;
}

.fw-testimonials-2 .fw-testimonials-author em {
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7143;
    text-transform: none;
    color: #a4a4a4;
}

.fw-testimonials-2 .fw-testimonials-author .fw-testimonials-url {
    display: block;
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2.1819;
    color: #a4a4a4;
}

.fw-testimonials-2 .fw-testimonials-author .fw-testimonials-url a {
    color: #a4a4a4
}

.fw-testimonials-2 .fw-testimonials-author .fw-testimonials-url a:hover {
    color: #fcca03;
}

.fw-testimonials-2 .fw-testimonials-arrows a {
    color: #8c8c8c;
}

.fw-testimonials .prev:hover,
.fw-testimonials .next:hover {
    color: #fcca03;
}

.fw-testimonials .fw-testimonials-arrows {
}

.fw-testimonials .fw-testimonials-pagination {
    display: block;
    position: relative;
    bottom: auto;
    right: auto;
    text-align: center;
    margin-top: 14px;
}

.fw-testimonials .fw-testimonials-pagination a {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border: solid 2px #8c8c8c;
    background-color: transparent;
}

.fw-testimonials .fw-testimonials-pagination a:hover,
.fw-testimonials .fw-testimonials-pagination a.selected {
    border-color: #fcca03;
    background-color: #fcca03;
}

.fw-testimonials.tm-type2 .fw-testimonials-item {
    border-bottom: none;
}

.fw-testimonials-2.tm-type2 .fw-testimonials-avatar,
.fw-testimonials.tm-type2 .fw-testimonials-text,
.fw-testimonials-2.tm-type2 .fw-testimonials-text + .fw-testimonials-meta {
    background-color: transparent;
}

/**
 * Text Block
 */

/**
 * Image
 */

.unyson-media-image a {
    display: block;
    position: relative;
}

.unyson-media-image a::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.unyson-media-image a:hover::before {
    background-color: rgba(0, 0, 0, 0.7);
}

.unyson-media-image a::after {
    font-family: Flaticon;
    content: '\f109';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    background-color: #fcca03;
    color: #303030;

    visibility: hidden;
    opacity: 0;
}

.unyson-media-image a:hover::after {
    visibility: visible;
    opacity: 1;
}

.unyson-media-image a::before,
.unyson-media-image a::after,
.unyson-media-image a:hover::before,
.unyson-media-image a:hover::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/**
 * Widget Area
 */

.unyson-media-image {
    display: inline-block;
}

@media (min-width: 1200px) {

    span.fw-img-alternate {
        position: relative;
    }

    span.fw-img-alternate::before {
        content: '';
        display: block;
        height: 30%;
        width: 30%;
        position: absolute;
        z-index: 1;
        top: 20px;
        left: 20px;
        border: solid 2px #fcca03;
        border-width: 2px 0 0 2px;
    }

    span.fw-img-alternate::after {
        content: '';
        display: block;
        height: 30%;
        width: 30%;
        position: absolute;
        right: -20px;
        bottom: -20px;
        border: solid 2px #fcca03;
        border-width: 0 2px 2px 0;
    }

    span.fw-img-alternate span::before,
    span.fw-img-alternate span::after {
        display: none;
    }

}

.shortcode-widget-area > .widget {
    float: none;
    padding-left: 0;
    padding-right: 0;
}
/* corrected widget 'Recent Posts' layout (see on frontpage: sidebar 'p: recent posts') */
.shortcode-widget-area > .widget.widget_recent_entries {
    float: left;
}
.shortcode-widget-area .widget-title {
    margin-bottom: 36px;
}

/* Widget Social Links */

.widget_social_links {
    overflow: hidden;
}

.widget_social_links i {
    font-family: 'FontAwesome';
    font-style: normal;
}

.widget_social_links li {
    display: inline-block;
    margin-right: 8px;
}

.widget_social_links li:last-child,
.primary-sidebar .widget.widget_social_links li:last-child {
    margin-right: 0;
}

.widget.widget_social_links ul {
    padding: 0;
    margin: 0;
}
.widget.widget_social_links ul li a {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 1.7143;
    text-align: center;
    color: #333333;
}

.widget.widget_social_links ul li a:hover {
    color: #fcca03;
}

.footer .widget.widget_social_links ul li a {
    color: #e3e2e2;
}

.footer .widget.widget_social_links ul li a:hover,
.footer .widget.widget_social_links ul li a:focus {
    color: #fcca03;
}

/* Widget Flickr */

.widget {
}

.widget_flickr_image_gallery {
}

.widget_flickr_image_gallery ul {
    padding: 0;
    margin: 0;
}

.widget_flickr_image_gallery ul li {
    display: inline-block;
}

.widget_flickr_image_gallery ul .flickr_badge_image {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 4px;
}

/* Widget Twitter */

.wrap-twitter {}

.wrap-twitter ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrap-twitter ul li + li {
    margin-top: 12px;
}

.wrap-twitter ul li span {
    display: block;
    text-transform: uppercase;
    margin-top: 12px;
    color: #a4a4a4;
}

.wrap-twitter ul li span .fa {
    margin-right: 8px;
    color: #fcca03;
}

/* Widget Facebook */

.wrap-facebook {}

.wrap-facebook ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrap-facebook ul li + li {
    margin-top: 12px;
}

/* Widget Blog Tabs */

.wrap-blog-tabs {}

.wrap-blog-tabs .tab-content {
    padding-top: 12px;
}

.wrap-blog-tabs .tab-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrap-blog-tabs .tab-content ul li + li {
    margin-top: 12px;
}

.wrap-blog-tabs .nav-tabs {
    border-bottom: none;
}

.wrap-blog-tabs .nav-tabs > li > a {
    border-radius: 0;
    border: none;
    margin: 0;
    background-color: #f5f5f5;
    color: #bdbdbd;
}

.wrap-blog-tabs .nav-tabs > li > a:hover,
.wrap-blog-tabs .nav-tabs > li > a:focus {
    border: none;
    background-color: #fcca03;
    color: #333333;
}

.wrap-blog-tabs .nav-tabs > li.active > a,
.wrap-blog-tabs .nav-tabs > li.active > a:focus,
.wrap-blog-tabs .nav-tabs > li.active > a:hover {
    border: none;
    background-color: #333333;
    color: #ffffff;
}

/**
 * 16.3 Unyson Media Elements
 */

/* For preview */

/**
 * 16.4 Unyson Mega Menu Extension
 */

/* Mega Menu */

/**
 * 16.5 Unyson Sliders Extension
 */

/* nivoSlider */

.theme-default .nivoSlider {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* sliders wrapper */

/* Partners Row */

.partner-link {
    position: relative;
    display: inline-block;
}

.partner-link img {
    opacity: 1;
    visibility: visible;
}

.partner-link img + img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.partner-link:hover img,
.partner-link:focus img {
    opacity: 0;
    visibility: hidden;
}

.partner-link:hover img + img,
.partner-link:focus img + img {
    opacity: 1;
    visibility: visible;
}

.partner-link-single img,
.partner-link-single img:hover,
.partner-link-single img:focus {
    opacity: 1;
    visibility: visible;
}

.partner-link img,
.partner-link img + img,
.partner-link:hover img,
.partner-link:focus img,
.partner-link:hover img + img,
.partner-link:focus img + img {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.partners-row > div {
    text-align: center;
}

.partners-row.pr-type2 {
    margin-top: -30px;
}

.partners-row.pr-type2 > div {
    margin-top: 30px;
}

.partners-row.pr-type2 .partner-link {
    border: solid 1px #e6e4e4;
    background-color: #ffffff;
}

.partners-row.pr-type2 .partner-link:hover,
.partners-row.pr-type2 .partner-link:focus {
    border: solid 1px #ffffff;
    /* energy drop shadow */
    -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.05);
}

/* 16.x Unyson Breadcrumbs Extension */

.breadcrumbs {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.7143;
    margin: 0 0 0 0;
}

.archive .breadcrumbs {
    margin: 7px 0 0 0;
    margin: 0 0 0 0;
}

.breadcrumbs span {
    display: inline-block;
}

.breadcrumbs span a {
    color: #e6e4e4;
}

.breadcrumbs span a:hover,
.breadcrumbs span a:focus {
    color: #fcca03;
}

.breadcrumbs span.last-item {
    color: #ffffff;
}

.breadcrumbs span.separator {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;

    width: 8px;
    margin: 0 3px;
    padding: 0 0 0 0;
    position: relative;
}

.breadcrumbs span.separator:after {
    content: '/';
    display: inline-block;
    text-indent: 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    color: #fcca03;
}

.archive .breadcrumbs-items-2,
.single .breadcrumbs-items-2,
.page .breadcrumbs-items-2,

.archive .breadcrumbs-items-2 span.separator,
.archive .breadcrumbs .last-item,

.page .breadcrumbs-items-2 span.separator,
.single .breadcrumbs-items-2 span.separator,

.page .breadcrumbs .item-0 + span.separator,
.single .breadcrumbs .item-0 + span.separator,
.page .breadcrumbs .last-item,
.single .breadcrumbs .last-item {
    /*display: none;*/
}

@media (min-width: 768px) {
    .breadcrumbs {
        text-align: right;
    }
    .single .breadcrumbs {
        /* reason of bad markup (see on Single Project page) */
        /*text-align: left;*/
    }
    .page-title + .breadcrumbs,
    .entry-title + .breadcrumbs {
        margin-top: 6px;
    }
}

/**
 * 16.x Unyson Events
 */

.fw-shortcode-calendar-wrapper .page-header h3 {
    color: #303030;
}

#cal-slide-tick {
    border-top: 11px solid #f5f5f5;
}

.cal-week-box .arrow-after:after {
    border-top: 15px solid #ffffff;
    border-bottom: 15px solid #FFFFFF;
}

.cal-week-box .arrow-before:before {
    border-left: 8px solid #FFFFFF;
}

#cal-day-box .day-highlight .event-item:hover {
    text-decoration: none;
    color: #fcca03;
}

#cal-day-box .day-highlight .cal-hours {
    color: #303030;
}

.event {
    background-color: #c3c3c3;
    border: 1px solid #ffffff;
}

.event-block {
    background-color: #c3c3c3;
}

.event-important {
    background-color: #ad2121;
}

.event-info {
    background-color: #1e90ff;
}

.event-warning {
    background-color: #e3bc08;
}

.event-inverse {
    background-color: #1b1b1b;
}

.event-success {
    background-color: #006400;
}

.event-special {
    background-color: #800080;
}

.day-highlight:hover,
.day-highlight {
    background-color: #dddddd;
}

.day-highlight.dh-event-important:hover,
.day-highlight.dh-event-important {
    background-color: #fae3e3;
}

.day-highlight.dh-event-warning:hover,
.day-highlight.dh-event-warning {
    background-color: #fdf1ba;
}

.day-highlight.dh-event-info:hover,
.day-highlight.dh-event-info {
    background-color: #d1e8ff;
}

.day-highlight.dh-event-inverse:hover,
.day-highlight.dh-event-inverse {
    background-color: #c1c1c1;
}

.day-highlight.dh-event-success:hover,
.day-highlight.dh-event-success {
    background-color: #caffca;
}

.day-highlight.dh-event-special:hover,
.day-highlight.dh-event-special {
    background-color: #ffe6ff;
}

.cal-row-fluid.cal-row-head [class*="cal-cell"] {
    font-weight: 700;
    color: #303030;
    background: #f1f1f1;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

[class*="cal-cell"]:hover {
    background-color: #ededed;
}

.cal-year-box [class*="span"],
.cal-month-box [class*="cal-cell"] {
    border-right: 2px solid #fff;
    background: #f1f1f1;
}

.cal-year-box [class*="span"]:hover,
.cal-month-box [class*="cal-cell"]:hover {
    background: #f5f5f5;
}

.cal-month-box [class*="cal-cell"]:hover span[data-cal-date],
.cal-month-day.event-day span[data-cal-date] {
    color: #fcca03;
}

.cal-month-day.event-day {
    background: #f5f5f5;
}

.cal-year-box .row-fluid,
.cal-month-box .cal-row-fluid {
    border-bottom: 2px solid #fff;
}

span[data-cal-date] {
    color: #b3b3b3;
}

.cal-day-today,
.cal-day-today.event-day {
    background-color: #fcca03;
}

.cal-day-today.event-day:hover span[data-cal-date] {
    color: #fff;
}

.cal-day-today .cal-day-today.event-day #cal-slide-tick {
    border-top-color: #fcca03;
}

.cal-day-today span[data-cal-date],
.cal-day-today.event-day span[data-cal-date] {
    color: #fff;
}

.cal-day-holiday span[data-cal-date] {
    color: #b3b3b3;
}

.cal-day-weekend span[data-cal-date] {
    color: #b3b3b3;
}

#cal-week-box {
    border: 1px solid #e1e1e1;
    background-color: #fafafa;
}

#cal-day-tick {
    border: 1px solid #e1e1e1;
    background-color: #ededed;
}

#cal-slide-box {
    border-top: 0px solid #8c8c8c;
    border-bottom: 2px solid #fff;
}

#cal-slide-content {
    color: #ffffff;
    background: #e9e9e9;
}

#cal-slide-content a.event-item {
    color: #303030;
}

#cal-slide-content a.event-item:hover {
    text-decoration: none;
    color: #fcca03;
}

.list-events {
    color: #000;
}

.cal-day-today .list-events {
    color: #fff;
}

.text-today {
    color: #fff;
}

.cal-column {
    border-left: 1px solid #e1e1e1;
}

a.cal-event-week {
    text-decoration: none;
    color: #151515;
}

.badge-important {
    background-color: #b94a48;
}

.btn-group button[data-calendar-nav] {
    color: #303030;
}

.btn-group button[data-calendar-nav]:hover {
    color: #a4a59d;
}

.btn-group button[data-calendar-nav*='today'] {
    color: #303030;
}

.cal-month-day.cal-day-outmonth:hover,
.cal-month-day.cal-day-outmonth:hover span[data-cal-date] {
    background: #f1f1f1;
    color: #b3b3b3;
}

.cal-week-box {
    background: #f1f1f1;
}

.cal-week-box .cal-row-head [class*="cal-cell"] small {
    border-top: 2px solid #fff;
}

.cal-week-box .cal-day-today span[data-cal-date],
.cal-week-box .cal-day-today.event-day span[data-cal-date] {
    color: #fcca03;
}

.cal-week-box .cal-column {
    border-left-color: #fff;
}

.fw-shortcode-calendar .day-highlight {
    background: #f5f5f5;
    border: 1px solid #a4a4a4;
    color: #fcca03;
}

.fw-shortcode-calendar .cal-month-box .day-highlight {
    border-right: 2px solid #fff;
}

.fw-shortcode-calendar a.cal-event-week {
    font-weight: 700;
    color: #303030;
}

.fw-shortcode-calendar a.cal-event-week:hover {
    color: #fcca03;
}

.fw-shortcode-calendar .day-highlight:hover {
    background-color: #f5f5f5;
}

.fw-shortcode-calendar .day-highlight a:hover {
    text-decoration: none;
}

#cal-day-box {
    background-color: #f1f1f1;
    overflow: hidden;
}

#cal-day-box .cal-row-head,
#cal-day-box .cal-day-hour {
    border-bottom: 2px solid #fff;
}

#cal-day-box .time-col {
    border-right: 2px solid #fff;
}

#cal-day-box .cal-day-hour .cal-day-hour-part {
    border-bottom: 1px solid #fff;
}

.details-event-button {
    margin-top: -12px;
}

.details-event-button button {
    margin-top: 12px;
}

.details-event + .after-hr {
    clear: both;
}